<div class="carousel-box" ng-controller="carousel">
    <ul class="carousel-ul">
        <li>
            <a href="#" class="img">
                <img class="img1"/>
            </a>
        </li>
        <li>
            <a href="mobile.html" class="img">
                <img class="img2"/>
            </a>
        </li>
        <li>
            <a href="#" class="img">
                <img class="img3"/>
            </a>
        </li>
        <li>
            <a href="#" class="img">
                <img class="img4"/>
            </a>
        </li>

    </ul>
    <div class="carousel-span">
        <p>
            <span class="carousel-span_one"></span>
            <span></span>
            <span></span>
            <span></span>
        </p>
    </div>
</div></div>
<!--清浮动-->
<div style="text-align:center;margin-top:25px;font-size:18px;font-weight:bold;clear:both"></div>