<div class="foot clearfix">
    <div class="left fl clearfix">
        <div class="fl about-detail clearfix">
            <ul class="fl">
                <li>
                    购买指南
                </li>
                <li>
                    <a href="">发货时间</a>
                </li>
                <li>
                    <a href="">关于签收</a>
                </li>
                <li>
                    <a href="">关于支付</a>
                </li>
            </ul>
            <ul class="fl">
                <li>橙心服务</li>
                <li><a href="">售后政策</a></li>
                <li><a href="">维修方式</a></li>
                <li><a href="">退货换货</a></li>
            </ul>
            <ul class="fl">
                <li>关于青橙</li>
                <li><a href="">新闻中心</a></li>
                <li><a href="">和我们一起工作</a></li>
                <li><a href="">联系青橙</a></li>
            </ul>
            <ul class="fl">
                <li>关注青橙</li>
                <li><a href="">官方新浪微博</a></li>
                <li><a href="">官方论坛</a></li>
                <li><a href="">官方微信</a></li>
            </ul>
        </div>
        <div class="fr qr_code clearfix">
                <span class="fl">
                    <img src="img/footer/weixin.png" alt="">
                    <p>关注官方微信</p>
                </span>
                <span class="fr">
                    <img src="img/footer/weibo.png" alt="">
                    <p>关注官方微博</p>
                </span>
        </div>
    </div>
    <div class="right fr">400-821-5000 周一至周日9:00-18:00 在线客服 周一至周日9:00-21:30</div>
</div>
<hr/>
<div class="important-foot">
    <div class="top">
        <p>青橙手机网上商城由上海青橙实业有限公司经营 沪ICP备12006100号</p>
        <div>
            <span>Copyright©2012-2016 青橙手机 保留所有权利</span>
            |
            <a href="">&nbsp;&nbsp;新闻中心&nbsp;&nbsp;</a>
            |
            <a href="">&nbsp;&nbsp;产品测评&nbsp;&nbsp;</a>
            |
            <a href="">&nbsp;&nbsp;企业招聘&nbsp;&nbsp;</a>
            |
            <a href="">&nbsp;&nbsp;经销商加盟&nbsp;&nbsp;</a>
            |
            <a href="">&nbsp;&nbsp;网站地图&nbsp;&nbsp;</a>
            |
            <a href="">&nbsp;&nbsp;使用条款&nbsp;&nbsp;</a>
        </div>
    </div>
    <div class="bottom">
        <p>
            <a href="">
                <img src="img/footer/icon-new-1.png" alt="">
            </a>
            <a href="">
                <img src="img/footer/icon-new-2.png" alt="">
            </a>
            <a href="">
                <img src="img/footer/icon-new-3.png" alt="">
            </a>
            <a href="">
                <img src="img/footer/picp_bg.png" alt="">
            </a>
            <a href="">
                <img src="img/footer/icon-new-5.png" alt="">
            </a>
        </p>
    </div>
</div>