<nav>
    <div class="top">
        <div class="login-regist clearfix">
            <a href="" class="fr">
                购物车(<span>0</span>)
            </a>
            <s class="fr">|</s>
            <a href="" class="fr">注册</a>
            <s class="fr">|</s>
            <a href="" class="fr">登录</a>
        </div>
    </div>
    <div class="bottom">
        <div class="logo clearfix">
            <a href="/" class="fl">
                <h1 title="青橙官网">青橙官网</h1>
            </a>
            <div class="menu fr" ng-controller="menuList">
                <ul class="clearfix">
                    <li class="fl">
                        <a href="/">首页</a>
                    </li>
                    <li class="fl">
                        <a href="#" id="dn-list1_hover">品牌中心</a>
                    </li>
                    <li class="fl">
                        <a href="#" id="dn-list2_hover">产品中心</a>
                    </li>
                    <li class="fl">
                        <a href="#">活动专区</a>
                    </li>
                    <li class="fl">
                        <a href="#">在线商城</a>
                    </li>
                    <li class="fl">
                        <a href="#">官方论坛</a>
                    </li>
                    <li class="fl">
                        <a href="#">服务支持</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="dn-list1 clearfix">
            <div class="left fl">
                <a href="">
                    <img src="img/top-png/brand1.png" alt="">
                </a>
            </div>
            <div class="center fl">
                <a href="">
                    <img src="img/top-png/brand2.png" alt="">
                </a>
            </div>
            <div class="right fl">
                <a href="">
                    <img src="img/top-png/brand3.png" alt="">
                </a>
            </div>
        </div>
        <div class="dn-list2 clearfix">
            <div class="left fl">
                <a href="">
                    <img src="img/top-png/product2.png" alt="">
                </a>
                <a href="">
                    <img src="img/top-png/product3.png" alt="">
                </a>
                <a href="">
                    <img src="img/top-png/product_n20.png" alt="">
                </a>
            </div>
            <div class="center fl">
                <a href="">
                    <img src="img/top-png/product_m4.png" alt="">
                </a>
            </div>
            <div class="right fl">
                <a href="">
                    <img src="img/top-png/product_t2.png" alt="">
                </a>
                <a href="">
                    <img src="img/top-png/product_t3.png" alt="">
                </a>
                <a href="">
                    <img src="img/top-png/product5.png" alt="">
                </a>
            </div>
        </div>
    </div>
</nav>