<div class="product_foot">
    <div class="tabset2">
        <div class="tab11" data-pws-tab="tab11" data-pws-tab-name="功能">
            <a href="" class="foot1">
                <img src="img/N2/foot/foot1.jpg" alt="">
            </a>
            <a href="" class="foot2">
                <img src="img/N2/foot/foot2.jpg" alt="">
            </a>
            <a href="" class="foot3">
                <img src="img/N2/foot/foot3.jpg" alt="">
            </a>
            <img src="img/N2/foot/foot4.jpg" alt="">
            <img src="img/N2/foot/foot5.jpg" alt="">
            <img src="img/N2/foot/foot6.jpg" alt="">
            <img src="img/N2/foot/foot7.jpg" alt="">
            <img src="img/N2/foot/foot8.jpg" alt="">
            <img src="img/N2/foot/foot9.jpg" alt="">
            <img src="img/N2/foot/foot10.jpg" alt="">
            <img src="img/N2/foot/foot11.jpg" alt="">
            <img src="img/N2/foot/foot12.jpg" alt="">
            <img src="img/N2/foot/foot13.jpg" alt="">
            <img src="img/N2/foot/foot14.jpg" alt="">
            <img src="img/N2/foot/foot15.jpg" alt="">
            <img src="img/N2/foot/foot16.jpg" alt="">
            <img src="img/N2/foot/foot17.jpg" alt="">
            <img src="img/N2/foot/foot18.jpg" alt="">
            <img src="img/N2/foot/foot19.jpg" alt="">
            <img src="img/N2/foot/foot20.jpg" alt="">
            <img src="img/N2/foot/foot21.jpg" alt="">
            <img src="img/N2/foot/foot22.jpg" alt="">
            <img src="img/N2/foot/foot23.jpg" alt="">
            <img src="img/N2/foot/foot24.jpg" alt="">
            <img src="img/N2/foot/foot25.jpg" alt="">
        </div>
        <div class="tab22" data-pws-tab="tab22" data-pws-tab-name="参数">
            <dl>
                <dt class="fl">主体</dt>
                <dd class="fl">
                    <ul>
                        <li>品牌：青橙 (qingcheng)</li>
                        <li>型号：青橙N2</li>
                        <li>外观设计：直板</li>
                        <li>配色：时光金/猎户银</li>
                        <li>三防等级：无</li>
                        <li>操作系统：MyUI 4.0 (Android 5.1)</li>
                        <li>CPU：MT6735，4核 64位 1.3GHz</li>
                        <li>GPU：ARM Mali T720 MP2 450MHz</li>
                        <li>ROM：16GB</li>
                        <li>RAM：2GB</li>
                        <li>用户可用空间：约12GB</li>
                        <li>储存卡类型：MicroSD (TF)</li>
                        <li>最大储存扩展：128GB</li>
                    </ul>
                </dd>
                <dt class="fl">网络</dt>
                <dd class="fl">
                    <ul>
                        <li>网络模式：</li>
                        <li>移动4G（TD-LTE）、联通4G（FDD-LTE）、电信4G（FDD-LTE）</li>
                        <s></s>
                        <li>移动3G(TD-SCDMA)/联通3G(WCDMA)/电信3G(CDMA2000)</li>
                        <s></s>
                        <li>移动2G(GSM)/联通2G(GSM)/电信2G(CDMA)</li>
                        <s></s>
                        <li>4G频段：</li>
                        <li>TD-LTE: Band38/39/40/41(2600/1900/2300/2500MHz)</li>
                        <s></s>
                        <li>FDD-LTE: Band1/3/7（2100/1800/2600MHz）</li>
                        <s></s>
                        <li>3G频段：</li>
                        <li>WCDMA: Band 1/2/5（2100/1900/850MHz）</li>
                        <s></s>
                        <li>TD-SCDMA: Band 34/39（1900/2000MHz）</li>
                        <s></s>
                        <li>CDMA 2000: BC0（800MHz）</li>
                        <s></s>
                        <li>2G频段：</li>
                        <li>GSM: Band2/3/5/8（1900/1800/850/900MHz）</li>
                        <s></s>
                        <li>CDMA: BC0（800MHz）</li>
                        <s></s>
                        <li>最大上传速率：50 Mbps</li>
                        <li>最大下载速率：150 Mbps</li>
                    </ul>
                </dd>
                <dt class="fl">显示</dt>
                <dd class="fl">
                    <ul>
                        <li>显示屏尺寸：5.5英寸</li>
                        <li>分辨率：1920*1080</li>
                        <li>显示屏色彩率： 16M</li>
                        <li>屏幕显示类型率：TFT</li>
                        <li>屏幕技术率：LTPS(低温多晶硅)</li>
                        <li>背光亮度率：450cd/m2</li>
                        <li>触摸屏率：电容屏，多点触控</li>
                        <li>电源键率：支持</li>
                        <li>主页面键率：虚拟</li>
                        <li>菜单键率：虚拟</li>
                        <li>返回键率：虚拟</li>
                        <li>侧键率：音量调大/调小键/一键对讲</li>
                        <li>相机键率：不支持</li>
                    </ul>
                </dd>
                <dt class="fl">摄像功能</dt>
                <dd class="fl">
                    <ul>
                        <li>前置摄像头：500万</li>
                        <li>成像技术：BSI CMOS</li>
                        <li>后置摄像头：1300万</li>
                        <li>成像技术：BSI Ⅱ CMOS</li>
                        <li>自动对焦：支持</li>
                        <li>光圈：F2.0</li>
                        <li>图像尺寸：4208* 3152</li>
                        <li>Zoom：4X数字变焦</li>
                        <li>照片格式：JPEG</li>
                        <li>摄像：1080P 30fps</li>
                    </ul>
                </dd>
                <dt class="fl">辅助</dt>
                <dd class="fl">
                    <ul>
                        <li>USB revision：USB 2.0 high speed</li>
                        <li>电池更换：不支持</li>
                        <li>USB充电：支持</li>
                        <li>数据接口：Micro USB （5pins）</li>
                        <li>蓝牙版本：Ver 4.0</li>
                        <li>Bluetooth power class：Class 2</li>
                        <li>支持协议类型：HSP/HFP/A2DP/AVRCP/OBEX/OPP/FTP/DUN/SDP</li>
                        <li>FM广播：支持</li>
                        <li>WLAN版本：IEEE 802.11b/g/n</li>
                        <li>Wi-fi路由：支持</li>
                        <li>GPS：支持</li>
                        <li>AGPS：支持</li>
                        <li>重力感应器：支持</li>
                        <li>距离感应器：支持</li>
                        <li>光感：支持</li>
                        <li>指南针：支持</li>
                        <li>陀螺仪：不支持</li>
                        <li>手势：支持</li>
                        <li>霍尔：支持</li>
                    </ul>
                </dd>
                <dt class="fl">其他</dt>
                <dd class="fl">
                    <ul>
                        <li>SIM 卡：</li>
                        <s></s>
                        <li>Micro SIM+Micro SIM/Micro SIM+TF</li>
                        <s></s>
                        <li>主卡（卡槽1）：电信/移动/联通 4G/3G/2G</li>
                        <s></s>
                        <li>副卡（卡槽2）：移动/联通 4G/3G/2G</li>
                        <li>电池类型：锂聚合物</li>
                        <li>电池容量：2850mAh</li>
                        <li>待机时间：335H</li>
                        <li>2G语音通话时间：24H</li>
                        <li>3G语音通话时间：26H</li>
                        <li>充电时间：3.5H</li>
                        <li>耳机：支持3.5mm</li>
                        <li>麦克风：2</li>
                        <li>喇叭：1 speaker</li>
                        <li>机身尺寸：152.6*76.4*8.4mm</li>
                        <li>机身重量： 170克</li>
                    </ul>
                </dd>
                <dt class="fl">包装清单</dt>
                <dd class="fl">
                    <ul>
                        <li>手机*1</li>
                        <li>充电器*1</li>
                        <li>电池*1(内置)</li>
                        <li>数据线*1</li>
                        <li>保修卡*1</li>
                    </ul>
                </dd>
            </dl>
        </div>
        <div class="tab33" data-pws-tab="tab33" data-pws-tab-name="图集">
            <div class="poster-main A_Demo">
                <div class="poster-btn poster-prev-btn"></div>
                <ul class="poster-list">
                    <li class="poster-item"><a href="#"><img src="img/carouselList/f1.jpg" width="100%"></a></li>
                    <li class="poster-item"><a href="#"><img src="img/carouselList/f2.jpg" width="100%"></a></li>
                    <li class="poster-item"><a href="#"><img src="img/carouselList/f3.jpg" width="100%"></a></li>
                    <li class="poster-item"><a href="#"><img src="img/carouselList/f4.jpg" width="100%"></a></li>
                    <li class="poster-item"><a href="#"><img src="img/carouselList/f5.jpg" width="100%"></a></li>
                    <li class="poster-item"><a href="#"><img src="img/carouselList/f6.jpg" width="100%"></a></li>
                    <li class="poster-item"><a href="#"><img src="img/carouselList/f7.jpg" width="100%"></a></li>
                </ul>
                <div class="poster-btn poster-next-btn"></div>
            </div>
        </div>
        <div class="tab44" data-pws-tab="tab44" data-pws-tab-name="评论(3)">
            <ul>
                <li class="clearfix">
                    <div class="user-info fl">
                        <p>
                            <img src="img/N2/user_small.png" alt="">
                        </p>
                        <p>Wendy*****</p>
                    </div>
                    <div class="user-comment fl">
                        <div class="user-comment-content">手机的常用功能，我试用了2天，挺好的，外观是我喜欢的。</div>
                        <div class="user-comment-date">2016/10/26 11:04:56</div>
                        <div class="arrow"></div>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="user-info fl">
                        <p>
                            <img src="img/N2/user_small.png" alt="">
                        </p>
                        <p>CC_tw*****</p>
                    </div>
                    <div class="user-comment fl">
                        <div class="user-comment-content">操作简单，屏幕够大，外观漂亮大气</div>
                        <div class="user-comment-date">2016/10/21 9:15:34</div>
                        <div class="arrow"></div>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="user-info fl">
                        <p>
                            <img src="img/N2/user_small.png" alt="">
                        </p>
                        <p>yiabc*****</p>
                    </div>
                    <div class="user-comment fl">
                        <div class="user-comment-content">用着挺好的，非常流畅。</div>
                        <div class="user-comment-date">2016/10/18 15:38:36</div>
                        <div class="arrow"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tab55" data-pws-tab="tab55" data-pws-tab-name="售后">
            <p><strong>青橙定制手机售后服务承诺：</strong></p>
            <p>严格依据《消费者权益保护法》、《中华人民共和国产品质量法》及《移动电话机商品修理更换退费责任规定》实行售后三包服务。</p>
            <p><strong>服务内容</strong></p>
            <p>保修服务只限于在正常使用情况下的有效保修期内，由于产品本身质量问题引起的非人为损坏的故障，凭发票和有效保修卡将享受下列服务：</p>
            <p>1.? 自购买之日起7日内消费者享有免费退机或换机服务，或在青橙授权服务网点享有免费保修服务；</p>
            <p>2.? 自购买之日起15日内消费者享有免费换机服务，或在青橙授权服务网点享有免费保修服务；</p>
            <p>3.? 自购买之日起15日以后的有效保修期内，消费者可在青橙授权服务网点享有免费保修服务，主机及包装盒内以下附件：包括底座及充电器、DC转换头、数据接口卡和数据连接线的有效保修期为1年，电池保修时间6个月、外接有线耳机保修期3个月，按照国家三包规定执行；</p>
            <p>4.? 有效保修期的计算自开具发票之日计算，有效期的最后一天为法定假日的，以休假日的次日为有效期的最后一天。用户在手机出现故障后，应该及时送修，避免超过保修期而影响正常保修；</p>
            <p>注：在送修产品之前，请消费者务必将产品中的资料进行备份，并删除产品中存放的任何机密信息或个人资料。</p>
            <p><strong>重要提示</strong></p>
            <p>1.?? 型号为N1的产品为用户定制产品，产品需在用户下单之后生产，存在一定备货时间，故一旦下订单不得取消。</p>
            <p>2.?? 手机出现问题时，建议您第一时间通过在线客服、微博或电话联系获得青橙的客服支持，以便获得最快捷的解决方案。</p>
            <p>3.? ?若用户所在地没有青橙授权维修网点，用户可选择快递送修，保内维修换机请选择顺丰到付，保外维修来回运费由用户自理。</p>
            <p>4.?? 下列情况不在三包服务范围内，但可以实行合理的收费维修：?</p>
            <div class="weixiu">
                <p>1) 超过三包有效期</p>
                <p>2) 无三包凭证及有效发票的（但有凭证复印件等有效证据能够证明该移动电话机商品在三包有效期内的除外）；</p>
                <p>3) 非青橙原因造成产品的故障（包括在未经青橙授权的维修点拆动及维修，使用未经青橙认可的附件或配件，液体或食物的渗入，或挤压、摔落、碰撞等人为原因或个人失误造成的损坏）；</p>
                <p>4) 用户自行刷新移动电话操作系统造成的损坏；</p>
                <p>5) 有效发票和保修卡上的内容和商品实物不符或者有涂改的；</p>
                <p>6) 产品主机机身号、串号条形码、SN号等不清、涂改、损坏、去除或难以辨认,主机防拆标贴或防水标贴被损坏或去除；</p>
                <p>7) 因不可抗力造成的损坏。</p>
            </div>
        </div>
    </div><!-- tabset2 -->
</div>